body {
  font-family: "Roboto", sans-serif, serif;
  background-color: #F7EAE8;
}

.container {
  display: flex;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 20px -2px #ccc;
}

.aside {
  background: #ccc url('img/background.jpg') no-repeat  center;
  background-size: cover;
  padding: 30px 30px;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(90, 90, 90);
}

.aside .back-button {
  display: flex;
  align-items: center;
  transition: color .5s ease;
}

.aside .back-button:hover {
  color: #000;
  cursor: pointer;
}

.back-arrow {
  margin-right: 8px;
}

.main {
  padding: 30px 100px;
  background-color: white;
}

.content-img {
  width: 10rem;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menu li a {
  text-decoration: none;
  color: rgb(90, 90, 90);
  font-size: 0.9rem;
  font-weight: 500;
  transition: color .5s ease;
}

.menu li a.active {
  color: #000000;
}

.menu li:hover a {
  color: #000000;
}

h1 {
  font-family: 'Playfair Display', sans-serif, serif;
  font-size: 4rem;
  margin: 100px 0 30px 0;
}

.author {
  font-family: 'Playfair Display', sans-serif, serif;
  font-size: 1.3rem;
  margin-bottom: 50px;
}

.content {
  padding: 20px 0;
  margin-bottom: 60px;
}

.right {
  font-size: 1.2rem;
}

.preview-images {
  position: relative;
  margin-bottom: 10px;
}

#preview {
  width: 100%;
}

#play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  border-radius: 50%;
  background-color: rgb(230, 230, 230);
}

.show-all {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.show-all span {
  font-size: 0.9rem;
  margin-right: 8px;
}